body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #24252A;
    font-family: 'Space Mono', monospace;
    background-color: #FCFCFC;
}

.content {
    width: 992px;
    height: 100%;
}

.font-size-36 {
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
}

.font-size-20 {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-48 {
    margin-bottom: 48px;
}

.main-content {
    display: flex;
    align-items: center;
}

.main-photo {
    width: 240px;
    height: 248px;
    margin-right: 64px;
}

.main-contacts {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.main-contacts img {
    width: 40px;
    height: 40px;
}

.main-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-about {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.main-about a {
    color: #24252A;
    text-decoration: none;
}

.main-about img {
    width: 64px;
}
