body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #24252A;
    font-family: 'Space Mono', monospace;
}

.content {
    width: 992px;
    height: 100%;
}

.bold-36 {
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
}

.regular-20 {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
}

.mb-24 {
    margin-bottom: 24px;
}

mb-48 {
    margin-bottom: 48px;
}

.main-content {
    display: flex;
    align-items: center;
}

.main-photo {
    width: 240px;
    height: 248px;
    margin-right: 64px;
}
